.navbar-nav {
	float:none;
	text-align:center;
}
ul.nav.navbar-nav li {
	float:none;
	display:inline-block;
	margin:0em;
}
.row-marg-t {
	margin-top:6px;
	margin-bottom:6px;
}
.nav-pills > li > a {
	border-radius:0px;
	color:#fff;
	font-weight:600;
}
.nav-pills > li.active > a,.nav-pills > li.active > a:focus,.nav-pills > li.active > a:hover {
	background-color:#1e2f3f;
	border:0;
}
#mytab > li > a {
	border-radius:0px;
	color:#333;
	font-weight:600;
}
#mytab > li.active > a,#mytab > li.active > a:focus,#mytab > li.active > a:hover {
	background-color:#eee;
	border:0;
}
.nav > li > a:focus,.nav > li > a:hover {
	color:#8d8989 !important;
}
.btn_login {
	border:1px solid #70747d;
	background-color:#1e2f3f;
	color:#fff;
	text-align:center;
	line-height:16px;
	padding:6px 12px;
	margin-top:5px;
}
.btn_color {
	background-color:#099fff;
	border:0;
}
.vspace {
	height:15px;
}
#pcnet_label {
	margin-right:20px;
}
.noborder {
	border:0;
}
.table > tbody > tr > td,.table > tbody > tr > th,.table > tfoot > tr > td,.table > tfoot > tr > th,.table > thead > tr > td,.table > thead > tr > th {
	border:0;
}
.sub1 {
	background-color:#283f68;
	height:80px;
	width:auto;
	color:#fff;
	font-weight:600;
	line-height:74px;
}
.sub1 .label_pad {
	padding:15px 0 15px 0;
}
.sub2new {
	background-color:#1a2d4e;
	height:300px;
	width:auto;
}
.sub3 {
	background-color:#1e293b;
	height:80px;
	width:auto;
	padding:20px 0;
}
.bqs {
	font-size:14px !important;
	color:#fff;
	font-weight:600;
	margin-bottom:0px !important;
	line-height:20px;
}
.bqs .ll {
	margin-right:10px;
}
/*begin*/#bgfooter {
	margin:0 auto;
	padding:0px;
	width:100%;
	height:210px;
	background:#1e3253;
	float:left;
}
#footer {
	margin:0 auto;
	padding:0px;
	width:1127px;
	height:210px;
	overflow:hidden;
}
.copyright {
	width:260px;
	height:210px;
	background:url(../images/line.jpg) no-repeat right top;
	float:left
}
.copyright1 {
	width:150px;
	height:60px;
	margin:20px 0 0 20px;
	_margin:10px 0 0 10px;
}
.copyright2 {
	/*width:220px;
	*/
	height:auto;
	margin:20px 0 0 40px;
	_margin:20px 0 0 10px;
	line-height:18px;
	color:#ecece4;
	font-size:12px;
	font-weight:bold;
}
.subnav {
	width:800px;
	height:190px;
	margin:23px 0 0 44px;
	_margin:12px 0 0 22px;
	float:left;
}
.subnav2 {
	width:180px;
	height:190px;
	float:left;
}
.subpl1 {
	padding-left:50px;
}
.subpl2 {
	padding-left:60px;
}
.subpl3 {
	padding-left:67px;
}
.subpl4 {
	padding-left:85px;
}
.subnav3 {
	width:200px;
	height:190px;
	float:left;
}
.subnav4 {
	width:200px;
	height:190px;
	float:left;
}
.subnav5 {
	width:200px;
	height:190px;
	float:left;
}
.subnav strong {
	/*font-weight:normal;
	*/
	color:#ecece4;
	height:30px;
	font-size:16px;
	width:auto;
	display:block;
}
.subnav span {
	font-weight:400;
	color:#ccc;
	height:20px;
	font-size:14px;
	width:auto;
	display:block;
	text-align:left;
}
.subnav strong a {
	color:#fff;
}
.subnav span a {
	color:#fff;
}
* {
	margin:0;
	padding:0;
}
html,body,.mycontent {
	height:100%;
}
.mycontent {
	height:auto;
	min-height:100%;
	_height:100%;
	padding-top:50px;
}
.myfooter {
	position:relative;
	height:80px;
	/*line-height尽量不要超过height高度*/
	line-height:70px;
	margin-top:0px;
	background:#333;
	color:#fff;
	/*font-size:16px;
	*/
	text-align:center;
}
.tb_laction {
	position:relative;
	float:right;
	right:10px;
}
.container-fluid {
	/*background-color:#1e2f3f;
	*/
}
.navbar-default {
	background-color:#1e2f3f;
}
.navbar-fixed-top {
	border-bottom:0;
}
/*new add*/
.cs_h {
	position:relative;
	float:right;
	right:15px;
}
.guanggaof {
	width:360px;
	height:80px;
	margin-top:10px;
	color:#fff;
}
.ggfbgc_blue {
	background-color:#008cd7;
}
.ggfbgc_orange {
	background-color:#ff9c01;
}
.gg_content {
	padding:10px;
	width:100%;
}
.con_left {
	float:left;
	width:30%;
	font-size:16px;
	font-weight:bold;
}
.con_right {
	float:right;
	width:60%;
	height:50px;
}
.con_r_sub {
	text-align:center;
	font-size:30px;
	font-weight:900;
	margin-top:4px;
	padding:0 15px;
	height:50px;
	line-height:46px;
	cursor:pointer;
}
.sub_border_blue {
	border:2px solid #fff;
}
.sub_orange {
	margin:8px 20px;
}
.sub_margin {
	margin-top:17px;
}
.qy {
	width:170px;
	height:33px;
	/*
               position:relative;
	margin:0 auto;
	*/
               background-color:#2c91ed;
	line-height:33px;
	text-align:center;
	color:#fff;
	font-weight:bold;
}
.gg_sub_content {
	width:100%;
}
.gg_sub_left {
	width:8%;
	color:#929292;
	float:left;
	/*
               height:33px;
	line-height:33px;
	*/
}
.gg_sub_right {
	width:92%;
	/*float:right;
	*/
              color:#929292;
}
.gg_sub_right ul li {
	float:left;
	list-style:none;
	text-align:center;
	height:33px;
	line-height:30px;
	margin-top:-10px;
	width:85px;
	/*
               border-radius:2px;
	*/
               border-top:1px solid #2c91ed;
	border-left:1px solid #2c91ed;
	border-bottom:1px solid #2c91ed;
}
.gg_sub_right ul li:first-child {
	border-bottom-left-radius:2px;
	border-top-left-radius:2px;
}
.gg_sub_right ul li:last-child {
	border-right:1px solid #2c91ed;
	border-bottom-right-radius:2px;
	border-top-right-radius:2px;
}
.active_gg {
	background-color:#2c91ed;
	color:#fff;
}
.xitlastchild {
	border:none !important;
}
.xitfirstchild {
	border-radius:2px;
}
#sc_ul {
	margin-top:10px;
}
#sc_ul li {
	float:left;
	list-style:none;
	text-align:center;
	height:33px;
	line-height:30px;
	margin-top:-10px;
	width:50px;
	border-top:1px solid #2c91ed;
	border-left:1px solid #2c91ed;
	border-bottom:1px solid #2c91ed;
	position:relative;
}
#sc_ul li:first-child {
	border-bottom-left-radius:2px;
	border-top-left-radius:2px;
}
#sc_ul li:last-child {
	border-right:1px solid #2c91ed;
	border-bottom-right-radius:2px;
	border-top-right-radius:2px;
}
.zhekou {
	display:block;
	position:absolute;
	/*
               bottom:10px;
	*/
               width:30px;
	height:15px;
	margin-top:-8px;
	background-color:#ff7370;
	color:#fff;
	text-align:center;
	line-height:13px;
	margin-left:9px;
}
/*倒三角begin*/
                .servicecontainer {
	position:relative;
	top:0px;
	left:16px;
	display:block;
	height:100px;
	width:96%;
	background-color:transparent;
	*border:1px solid #666;
}
s {
	position:absolute;
	top:-20px;
	*top:-22px;
	left:80px;
	display:block;
	height:0;
	width:0;
	font-size:0;
	line-height:0;
	border-color:transparent transparent #666 transparent;
	border-style:dashed dashed solid dashed;
	border-width:10px;
}
i {
	position:absolute;
	top:-9px;
	*top:-9px;
	left:-10px;
	display:block;
	height:0;
	width:0;
	font-size:0;
	line-height:0;
	border-color:transparent transparent #fff transparent;
	border-style:dashed dashed solid dashed;
	border-width:10px;
}
.content {
	border:1px solid #ccc;
	position:absolute;
	background-color:#fff;
	width:100%;
	height:100%;
	*top:-2px;
	*border-top:1px solid #ccc;
	*border-left:1px solid #ccc;
	*border-right:1px solid #ccc;
	*border-bottom:1px solid #ccc;
	*height:102px;
	/* For IE 5.5 - 7 */
    filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color='#999999');
	/* For IE 8 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color='#999999')";
	padding-left:10px;
	padding-top:18px;
}
.content ul li {
	float:left;
	list-style:none;
	width:9%;
	text-align:center;
	height:30px;
	line-height:30px;
	color:#666;
}
.content ul li:first-child {
	color:#ccc;
}
.bigW {
	width:13% !important;
}
.content .active {
	color:#2c91ed;
}
/*倒三角end*/
.rqfw {
	width:100%;
	/*position:relative;
	*/
             height:60px;
	line-height:60px;
}
.rqfw .rqfw_left {
	width:70%;
	float:left;
	position:relative;
	margin-left:-2px;
}
.servicepic {
	float:left;
	margin-top:2px;
	margin-left:13px;
}
.service {
	float:left;
	margin-left:10px;
	height:47px;
	line-height:40px;
}
.rqfw .rqfw_right {
	width:30%;
	float:left;
	position:relative;
	color:#2c91ed;
	padding-left:124px;
}
.sc_sub_content {
	width:100%;
}
.sc_sub_left {
	width:27%;
	height:35px;
	line-height:30px;
	float:left;
}
.sc_sub_right {
	width:15%;
	height:35px;
	line-height:30px;
	float:left;
	white-space:nowrap;
	margin-left:10px;
}
.ysqd {
	position:relative;
	left:30px;
	border:1px solid #2c91ed;
	padding-left:13px;
	padding-top:10px;
	height:180px;
}
.qkBtn {
	border:1px solid #ccc;
	text-align:center;
	width:75px;
	height:25px;
	display:inline-block;
	position:relative;
	left:150px;
}
.dcBtn {
	border:1px solid #ccc;
	text-align:center;
	width:75px;
	height:25px;
	display:inline-block;
	position:relative;
	left:170px;
}
